
<!-- innerText is not an HTML tag; it's a property of the DOM (Document Object Model) element in JavaScript. -->
<!-- So, when you use [innerText]="title", you're instructing Angular to set the text content of the element to the value of the title property in your component class. -->
<h1 [innerText]="title"> </h1>

<h2 [innerText] = "name"> </h2>

<h3>Max number is <h4 [innerHTML]="getMax(5,2)"></h4></h3>
<h1>Image Representation using normal way</h1>
<img src="https://miro.medium.com/v2/resize:fit:1400/1*JGsqPRS6c43VMhxMvVOL3Q.png">

<h1>Image Representation using property binding</h1>

<img [src]="image">